.candidate-name {
    text-decoration: none;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
}

.candidates-list-header {
    font-size: 30px;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.list-item {
    margin-bottom: 15px;
    background: lightgray;
    border: 1px lightgray solid;
    border-radius: 5px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.list-item_present {
    margin-bottom: 15px;
    background:  rgb(164,214,94);
    border: 1px lightgray solid;
    border-radius: 5px;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.list-item:hover {
    background: white;
    cursor: pointer;
}

.present_btn {
    background-color: #808080;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.present_btn_pressed {
    background-color:  rgb(164,214,94);
    border: 2px solid  rgb(164,214,94);
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.present_btn:hover {
    color: rgb(50, 65, 30);
    font-weight: bold;
}

.present_btn_pressed:hover {
    color: rgb(50, 65, 30);
    font-weight: bold;
}

.button1 {
    background-color: rgb(164,214,94);
    border: 2px solid  rgb(164,214,94);
    border-radius: 5px;
    position: relative;
    /* float: none; */

    
}


.button2 {
    background-color: white;
    color: black;
    border: 2px solid  rgb(164,214,94);
    border-radius: 5px;
    float: left;
    position: relative;
}

.button2:hover {
    color: rgb(50, 65, 30);
    font-weight: bold;
    border: 2px solid rgb(50, 65, 30);
}

.button1:hover {
    color: rgb(50, 65, 30);
    font-weight: bold;
    border: 2px solid rgb(50, 65, 30);
}