.new_user {
    margin-top: 10px;
}

.new_tag {
    margin-top: 10px;
}

.settings_header {
    font-size: 17px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.settings_data {
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 500;
    border-bottom: 1px solid lightgray;
}

.delete_btn, .change_btn {
    cursor: pointer;
    margin-bottom: 20px;
}

.change_tag_btn, .create_tag_btn, .create_user_btn, .create_user_btn {
    margin-left: 25px;
}

.settings_title {
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.sett_secondary {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    background-color: white;
    padding: 5px 5px;
    color: rgb(164,214,94);
    border: 2px solid  rgb(164,214,94);
    border-radius: 8px;
    font-size: 15px;
    display: inline-block;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.sett_primary:hover {
    background-color:rgb(146, 204, 64);
    color: rgb(50, 65, 30);
    font-weight: bold;
    border: 2px solid #6C757D;
}


.sett_primary {
    background-color: rgb(164,214,94);
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    padding: 5px 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-radius: 8px;
    border: 2px solid  rgb(164,214,94);
    font-size: 15px;
    margin-left: 5px;
}

.sett_primary:focus {
    background-color:rgb(146, 204, 64);
    color: rgb(50, 65, 30);
    border: 2px solid #6C757D;
    box-shadow: none;
}

.sett_secondary:hover {
    color: #6C757D;
    background-color: white;
    border: 2px solid #6C757D;
}
