.new_user {
    margin-top: 10px;
}

.new_tag {
    margin-top: 10px;
}

.settings_header {
    font-size: 17px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;
    border-bottom: 1px solid lightgray;
}

.settings_data {
    font-size: 15px;
    margin-bottom: 20px;
    font-weight: 500;
    border-bottom: 1px solid lightgray;
}

.delete_btn, .change_btn {
    cursor: pointer;
    margin-bottom: 20px;
}

.change_tag_btn, .create_tag_btn, .create_user_btn, .create_user_btn {
    margin-left: 25px;
}

.settings_title {
    margin-top: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}